<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creativetrends.simple.app"
    android:versionCode="7"
    android:versionName="1.0.5"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="25">
    </uses-sdk>



    </application>


</manifest>
