<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creativetrends.simple.app"
    android:versionCode="7"
    android:versionName="1.0.5"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="25">
    </uses-sdk>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>


    <application
        android:name="com.creativetrends.simple.app.activities.SimpleApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_pro"
        android:theme="@style/JorellBlueSettings"
        tools:replace="android:allowBackup,android:theme,android:label">



        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:ignore="ManifestResource" />


        <activity
            android:name="com.creativetrends.simple.app.activities.SimpleLogin"
            android:configChanges="locale|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name_pro"
            android:theme="@style/JorellBlueSettings"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>



        <activity
            android:name="com.creativetrends.simple.app.activities.MainActivity"
            android:configChanges="locale|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name_pro"
            android:theme="@style/FacebookBlue"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="m.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="m.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="mobile.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="mobile..facebook.com"
                    android:scheme="https" />
                <data
                    android:host="m.fb.com"
                    android:scheme="http" />
                <data
                    android:host="m.fb.com"
                    android:scheme="https" />
                <data
                    android:host="touch.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="touch.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="touch.fb.com"
                    android:scheme="http" />
                <data
                    android:host="touch.fb.com"
                    android:scheme="https" />
                <data
                    android:host="facebook.com"
                    android:scheme="http" />
                <data
                    android:host="facebook.com"
                    android:scheme="https" />
                <data
                    android:host="fb.com"
                    android:scheme="http" />
                <data
                    android:host="fb.com"
                    android:scheme="https" />
                <data
                    android:host="www.facebook.com"
                    android:scheme="http" />
                <data
                    android:host="www.facebook.com"
                    android:scheme="https" />
                <data
                    android:host="www.fb.com"
                    android:scheme="http" />
                <data
                    android:host="www.fb.com"
                    android:scheme="https" />

            </intent-filter>


        </activity>

        <activity
            android:name="com.creativetrends.simple.app.activities.SettingsActivity"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.creativetrends.simple.app.activities.MainActivity"
            android:theme="@style/JorellBlueSettings"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creativetrends.simple.app.activities.MainActivity" />
        </activity>


        <activity
            android:name="com.creativetrends.simple.app.activities.SimpleCustomTabs"
            android:configChanges="locale|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Folio Browser"
            android:parentActivityName="com.creativetrends.simple.app.activities.MainActivity"
            android:theme="@style/JorellBlueSettings"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creativetrends.simple.app.activities.MainActivity" />

        </activity>


        <activity
            android:name="com.creativetrends.simple.app.activities.SharerActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="locale|orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="Sharer"
            android:theme="@style/Theme.FloatingWindow.Popup"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity"/>


        <activity
            android:name="com.creativetrends.simple.app.activities.PeekView"
            android:clearTaskOnLaunch="true"
            android:configChanges="locale|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="Peek View"
            android:taskAffinity=".MainActivity"
            android:theme="@style/Theme.FloatingWindow.Popup"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity" />

        <activity
            android:name="com.creativetrends.simple.app.activities.PeekViewFB"
            android:clearTaskOnLaunch="true"
            android:configChanges="locale|orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="Peek View"
            android:taskAffinity=".MainActivity"
            android:theme="@style/Theme.FloatingWindow.Popup"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity" />


        <activity
            android:name="com.creativetrends.simple.app.lock.SimpleLock"
            android:theme="@style/JorellBlueSettings" />


        <activity
            android:name="com.creativetrends.simple.app.activities.VideoActivity"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation|screenSize"/>


        <activity
            android:name="com.creativetrends.simple.app.activities.MessagesActivity"
            android:configChanges="locale|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/messages"
            android:parentActivityName="com.creativetrends.simple.app.activities.MainActivity"
            android:theme="@style/JorellBlueSettings"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creativetrends.simple.app.activities.MainActivity" />

        </activity>



        <activity
            android:name="com.creativetrends.simple.app.activities.PhotoViewer"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/photos"
            android:theme="@style/FacebookBlue" />




        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <receiver android:name="com.creativetrends.simple.app.services.NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service
            android:name="com.creativetrends.simple.app.services.NotificationService"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"/>



        <service
            android:name="com.creativetrends.simple.app.tile.STile"
            android:icon="@drawable/ic_simple_s"
            android:label="@string/app_name_pro"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.creativetrends.simple.app.shortcuts.Messages"
            android:enabled="false"
            android:launchMode="singleTask"
            android:label="@string/messages"
            android:icon="@mipmap/ic_launcher_messages" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:name="com.creativetrends.simple.app.shortcuts.Notifications"
            android:enabled="false"
            android:launchMode="singleTask"
            android:label="@string/notifications"
            android:icon="@mipmap/ic_launcher_notifications" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.creativetrends.simple.app.activities.FilePickerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="Download Directory"
            android:theme="@style/FacebookBlue" />


        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false"/>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:resource="@dimen/app_defaultsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:resource="@dimen/app_defaultsize_h" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:resource="@dimen/app_minimumsize_w" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:resource="@dimen/app_minimumsize_h" />


    </application>


</manifest>